{% extends 'base.html' %}
{% block title %}Prepopulate{% endblock %}
{% load static %}
{% block content %}

#Form Container (headings and styles)

<div>
    <div class="main column is-6 my-6 container box px-5">
        <h2 class="title has-text-centered dText mt-4">Prepopulate</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

#Upload file of the list

            <div class="field">
                <label class="label">Upload Predefined List</label>
                <div class="control">
                    <input class="input" type="file" name="employee_file" accept=".csv,.xlsx,.xls">
                </div>
                <p class="help">Accepted formats: CSV, XLSX, XLS</p>
            </div>
            <hr>

#Username 

            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" type="text" name="username" placeholder="Enter Username">
                </div>
            </div>

#Name

            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" name="name" placeholder="Enter Full Name">
                </div>
            </div>

#Manager

            <div class="field">
                <label class="label">Manager</label>
                <div class="control">
                    <input class="input" type="text" name="manager" placeholder="Enter Manager">
                </div>
            </div>

#Grade

            <div class="field">
                <label class="label">Grade</label>
                <div class="control">
                    <input class="input" type="text" name="grade" placeholder="Enter Grade">
                </div>
            </div>

#Position

            <div class="field">
                <label class="label">Position</label>
                <div class="control">
                    <input class="input" type="text" name="position" placeholder="Enter Position">
                </div>
            </div>

#Location

            <div class="field">
                <label class="label">Location</label>
                <div class="control">
                    <input class="input" type="text" name="location" placeholder="Enter Location">
                </div>
            </div>

#Dev Cell rating

            <div class="field">
                <label class="label">Dev Cell Rating</label>
                <div class="control">
                    <div class="select is-fullwidth">
                        <select name="dev_cell_rating">
                            <option value="">Select Rating:</option> 
                            {% if action_status %}
                                {% for status in action_status%}
                                    <option>{{ status.action_status }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>

#Performance rating

            <div class="field">
                <label class="label">Performance Rating</label>
                <div class="control">
                    <div class="select is-fullwidth">
                        <select name="performance_rating">
                        </option value="">Select Rating:</option>
                            <option>5 - </option>
                            <option>4 - </option>
                            <option>3 - </option>
                            <option>2 - </option>
                            <option>1 - </option>
                        </select>
                    </div>
                </div>
            </div>

#Reviewing information

            <div class="field">
                <label class="label">Review Information</label>
                <div class="control">
                    <textarea class="textarea" name="review_information" placeholder="Enter review information"></textarea>
                </div>
            </div>

            {% if error %}
                <p class="has-text-danger pb-2">{{ error }}</p>
            {% endif %}

            <div class="field is-grouped is-grouped-centered mt-5">
                <div class="control">
                    <button type="submit" class="button is-link">
                        Submit
                    </button>
                </div>
                <div class="control">
                    <button type="reset" class="button is-light">
                        Clear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/prepopulate.js' %}"></script>
{% endblock %}
