{% load static %}
{% block content %}

<div class="nav-container">
    <nav class="navbar px-6 rr-secondary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item rr-nav-element navbar-item-effect rr-white" href="{% url 'home' %}"><i class="fa fa-home"></i>
                    Home
                </a>

                <a class="navbar-item rr-nav-element navbar-item-effect rr-white"><i class="fa fa-info"></i>
                    Info Packs
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    
                    {% if user.is_authenticated %}

                        <a class="button is-primary" href="{% url 'user-profile' %}"><i class="fa fa-user"></i>
                            <strong class="pl-3">Account</strong>
                        </a>

                    {% else %}

                        <a class="button is-primary" href="{% url 'signup' %}">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button" href="{% url 'login' %}">
                            Log in
                        </a>

                    {% endif %}

                </div>
            </div>
        </div>
    </nav>
</div>

{% endblock %}